<form method="post" action="{{ path('app_advice_delete', {'id': advice.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advice.id) }}">
    <button class="btn">Delete</button>
</form>
